# Required requirements
sortedcontainers
aiohttp
motor

# Optional requirements
psutil

uvloop;platform_system!='Windows'
cchardet;platform_system!='Windows'
aiodns;platform_system!='Windows'

# Development requirements
recommonmark
flake8
flake8-quotes
pytest
asynctest
coverage
